<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rmb_FinalApp.My.MySettings.Rmb_Ds" connectionString="Data Source=msenterprise.waltoncollege.uark.edu;Initial Catalog=ISYS4283338;User ID=ISYS4283338"
            providerName="System.Data.SqlClient" />
        <add name="Rmb_FinalApp.My.MySettings.PROJECTS1720ConnectionString"
            connectionString="Data Source=msenterprise.waltoncollege.uark.edu;Initial Catalog=PROJECTS1720;User ID=PROJECTS1720;Password=RR60ci$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>